<!-- if attempt variable is true
  display correct message
else 
  display incorrect message
 -->

<div class="container">

</div>
<!-- 
provide 'next' button directs to get 'round/:round_id/card/:card_id' 
get card_id using helper method pass round from attempt -->
