<a href="/"><div class="container"></div></a>

<div class="container">
  <h2>Q:</h2>
  <!-- <h3>Submit answer below:</h3> -->
  <div class="card">
    <p><%= @card.question %></p>
  </div>

  <div class="form">
   <form action="/round/<%= @round.id %>/card/<%= @card.id %>" method="post" id="check_answer">
      <input type="text" name="guess" autofocus>
      <input type="submit" value="Check Answer">
    </form>
    <a href="/"><input type="submit" value="Continue Later"></a>

  <p><%= @round.num_total_attempts %> attempts</p>
  </div>

  
</div>


<!-- LOGOUT BUTTON -->

<div class="container">
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
</div>


<!-- display prompt

have form to capture answer

provide link that directs to post request for corresponding card -->
