
<div class="container">
  <h2>Card view page (replace name)</h2>
  <h3>Instructions for the user</h3>
  <div class="card">
    <p><%= @card.question %></p>
  </div>

  <div class="form">
   <form action="/round/<%= @round.id %>/card/<%= @card.id %>" method="post">
      <input type="text" name="guess" autofocus>
      <input type="submit" value="Check Answer">
    </form>
  </div>

  
</div>


<!-- LOGOUT BUTTON -->

<div class="container">
  <a href="/"><input type="submit" value="Home"</a>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
</div>


<!-- display prompt

have form to capture answer

provide link that directs to post request for corresponding card -->
