<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<div class="content">

    <div class="header">
      <div id="logo">
        <a href="/"><img src="/flashcard_logo.png"></a>
      </div>

      <div id="user_tools">
        <div id="username">
          <%= current_user.name %>
        </div>
        <div>
          <form action="/logout" method="POST">
          <input type="image" name="Submit" src="/exit-button.png" alt="Log out">
          </form>
        </div>
      </div>
    </div>

  <div class="headline">Create Deck</div>
  <table class="logintable">
  <form action="/newdeck" method="POST">
    <tr>
      <td>
      Title
      </td>
    </tr>
    <tr>
      <td>
        <input  class="textfield" type="text" name="title" id="title">
      </td>
    </tr>
  </table>

    <table class="logintable" id="QAtable">
      <tr>
        <td>Question</td>
        <td>Answer</td>
      </tr>
      <tr>
        <td><input class="textfield" type="text" name="questions[]" id="question"></td>
        <td><input class="textfield" type="text" name="answers[]" id="answer"></td>
        <td><button class="button" id="remove">X</button>
      </tr>
    </table>

    <table class="logintable" width="620px">
      <tr>
        <td>
          <button class="button" id="add">Add Card</button>
        </td>
        <td align="right">
          <input class="button" type="submit" value="Create" id="submit">
        </td>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
    </table>

    
    <br>
    <br>
    <br>
    
  </form>
    <div class="footer">
    <img src="/flashcard_logo.png"> is a collaborative project from Meara, Katy, Daniel, and Chirag.
  </div>
</div>
