<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <h2>Hi, <%= current_user.name %>.</h2>

  <!-- clickable deck links for each deck, to post -->

<% @decks.each do |deck| %>

<form action="/deck/<%= deck.id %>/round/" method="POST">
  <input type="submit" value = "<%= deck.title %>">
</form>

<% end %>

</div>

<div class="container">
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
</div>

