<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<div class="content">

    <div class="header">
      <div id="logo">
        <a href="/"><img src="/flashcard_logo.png"></a>
      </div>

      <div id="user_tools">
        <div>
        </div>
      </div>
    </div>

  <div class="headline">Register</div>

  <table class="logintable">
    <form action="/register" method="POST">
      <tr>
        <td>Name:</td>
        <td><input type="text" class="textfield"  name="name"></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" class="textfield" name="email"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="text" class="textfield" name="password"></td>
      </tr>
      <tr>
        <td colspan="2">
          <% if @errors %>
            <ul>
              <% @errors.each do |field, message| %>
              <div style="color:red"><%= field %> <%= message %></div>
              <% end %>
            </ul>
          <% end %>

        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" class="button" value="Sign-up"></form>&nbsp;&nbsp;
          <a href='/login'>
            <button class="button">Login</button>
          </a>
        </td>
      </tr>
    </form>
  </table>


  <div class="footer">
    <img src="/flashcard_logo.png"> is a collaborative project from Meara, Katy, Daniel, and Chirag.
  </div>
</div>
