<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<div class="content">

    <div class="header">
      <div id="logo">
        <a href="/"><img src="/flashcard_logo.png"></a>
      </div>

      <div id="user_tools">
        <div>
        </div>
      </div>
    </div>


  <div class="headline">Login</div>

  <table class="logintable">
    <form action="/login" method="POST">
      <tr>
        <td>Email:</td>
        <td><input class="textfield" type="text" name="email" autofocus></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input class="textfield" type="password" name="password"></td>
      </tr>
      <tr>
        <td colspan="2">
          <% if @errors %>
            <ul>
              <% @errors.each do |field, message| %>
              <div style="color:red"><%= field %> <%= message %></div
              <% end %>
            </ul>
          <% end %> 
        </td>
      </tr>
      <tr>
        <td>         
        </td>
        <td><input class="button" type="submit" value="Login"></form>&nbsp;&nbsp;<a href='/register'><button class="button">Register</button></a></td>
      </tr>
  </table>

</div>
  <div class="footer">
    <img src="/flashcard_logo.png"> is a collaborative project from Meara, Katy, Daniel, and Chirag.
  </div>
</div>
